<div class="container mt-5" style="max-width: 600px">
  <hr>
  <div >
    <div *ngFor="let user of userList" >
      <div style="margin-left: 25px; font-size: 18px;">{{user.name}}</div>
      <hr>
    </div>
  </div>
  

  <div class='container'>
    <form>
      <input type="text" id="email" required #email>
      <button (click)="addAdmin(email)">Add as Admin</button>
      <button (click)="removeAdmin(email)">Remove as Admin</button>
    </form>
  </div>

</div>
<div class="container postdiv">
  <app-getlocations [showDiv]="Taaa" ></app-getlocations>
</div>
<div class="container mapdiv">
  

</div>