/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.success-snacbar {
    font-weight: 400;
    background: #4bb543;
    color: black;
  }
  .alert-success {
    margin-top: 500px;
  }
  .warn-snacbar {
    font-weight: 400;
    background: red;
    color: black;
  }
